:host {
  mat-card {
    margin-top: 20px;
    background: #deddea;
  }

  .mat-button-toggle-group {
    border: none;
    width: 100%;
    justify-content: space-between;

    .mat-button-toggle {
      border: none;
      background: none;

      button {
        .mat-button-toggle-label-content {
          line-height: 0px !important;
        }
      }
    }
  }
}

::ng-deep .mat-button-toggle-label-content {
  line-height: 36px !important;
}
