<div>
  <img [src]="iconService.getIconUrl(data.icon)" alt="" />
  <div style="text-align: center;">
    {{ data.description | titlecase }}
  </div>
</div>
<div class="title">{{ data.name }}</div>
<app-info-item [icon]="icons.faCloud" [value]="data.clouds + '%'"></app-info-item>
<app-info-item [icon]="icons.faTemp" [value]="data.temp + '°C'"></app-info-item>
<app-info-item [icon]="icons.faFinger" [value]="data.feelsLike + '°C'"></app-info-item>
<app-info-item [icon]="icons.faTint" [value]="data.humidity + '%'"></app-info-item>
<app-info-item [icon]="icons.faBattery" [value]="data.pressure + ' мм.рт.ст.'"></app-info-item>
<app-info-item [icon]="icons.faWind" [value]="data.wind + ' м/c'"></app-info-item>
