<div class="wrapper">
  <form [formGroup]="cityForm">
    <input
      type="text"
      [formControl]="cityControl"
      placeholder="Введіть назву міста"
    />
    <button (click)="search()">Пошук</button>
  </form>
  <app-main-cities (changeByToggle)="changeWeatherByToggle($event)" [cityName]="(data$ | async)?.currentWeather.name"></app-main-cities>
  <ng-container *ngIf="data$ | async as data" class="item">
    <app-main-info [data]="data.currentWeather" @fade></app-main-info>
    <app-hourly-weather
      [data]="data.hourlyWeather"
      [dates]="data.datesArr"
    ></app-hourly-weather>
  </ng-container>

  <div *ngIf="errorSubject$ | async" style="color: red;">
    Невірно введена назва міста
  </div>
</div>
