<form [formGroup]="cityForm">
  <input type="text" [formControl]="cityControl" />
  <button type="button" (click)="search()">Search</button>
</form>
<div *ngIf="weatherItem | async as item" class="item">
  <div class="row">
    <div class="item-name">{{ item.name }}</div>
    <img [src]="iconService.getIconUrl(item.icon)" alt="" />
  </div>
  <div class="row">
    <fa-icon [icon]="faCloud"></fa-icon>
    <div class="value">{{ item.clouds + "%" }}</div>
  </div>
  <div class="row">
    <fa-icon [icon]="faTemp"></fa-icon>
    <div class="value">{{ item.temp + "°C" }}</div>
  </div>
  <div class="row">
    <fa-icon [icon]="faFinger"></fa-icon>
    <div class="value">
      {{ item.feelsLike + "°C" }}
    </div>
  </div>
  <div class="row">
    <fa-icon [icon]="faTint"></fa-icon>
    <div class="value">
      {{ item.humidity + "%" }}
    </div>
  </div>
  <div class="row">
    <fa-icon [icon]="faBattery"></fa-icon>
    <div class="value">
      {{ item.pressure + " мм.рт.ст." }}
    </div>
  </div>
  <div class="item-description">
    {{ item.description | titlecase }}
  </div>
</div>
