<div class="wrapper">
  <app-city-input (cityControlChangeValue)="search($event)" ></app-city-input>
  <ng-container *ngIf="data$ | async as data" class="item">
    <app-main-cities (changeByToggle)="changeWeatherByToggle($event)" [cityName]="data.currentWeather.name">
    </app-main-cities>
    <app-main-info [data]="data.currentWeather"></app-main-info>
    <app-hourly-weather [data]="data.hourlyWeather" [dates]="data.datesArr"></app-hourly-weather>
  </ng-container>
  <app-spinner [showSpinner]="isSpinnerShown$ | async"></app-spinner>

  <div *ngIf="errorSubject$ | async">
    Невірно введена назва міста
  </div>

</div>