.wrapper {
  padding: 50px 100px;

  .mat-spinner {
    margin: auto;
    margin-top: 200px;
  }
}

.custom-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  margin: auto;
  stroke: #333141;
}