.wrapper {
  display: flex;
  flex-flow: wrap;

  .item {
    border: 2px solid #504d66;
    box-shadow: inset 3px -1px 20px 0px #504d66;
    display: flex;
    flex-direction: column;
    width: 170px;
    background: linear-gradient(130deg, #8a85b1, #f8f9f3);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 15px;
    text-align: center;
    margin-right: 5px;

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-description {
      margin-top: 15px;
    }
  }
}

::ng-deep .mat-ink-bar {
  background-color: #6d698c !important;
}

::ng-deep .mat-tab-header {
  border-bottom: none;
}
