body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #EFEEF5;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
