@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {
    padding: 0;
    margin: 0;
    background-color: #efeef5;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Russo One", sans-serif;
}

.mat-card,
.mat-button-toggle,
.mat-tab-label,
.mat-button {
    font-family: "Russo One", sans-serif;
}

.custom-dialog .mat-dialog-container {
    padding: 0;
}
